Debug/*
Objects
Listings
*Makise*
*.uvgui*
*.uvoptx
*.o
*.d
*.htm
*.lnp
*.sct
*.dep
*.lst
*.map
*.axf
*.iex
*bak
*.crf
build-*/
*.pro.user

# Quartus files
*/incremental_db/*
*/db/*
.*
*/output_files/*
*/simulation/*
*.temp
*.rpt
*.ddb
*.qws

# KiCAD files
hardware/gerber/*

# ignore Quartus II generated folders
*_sim
db
greybox_tmp
incremental_db
simulation
testbench
timing
output_files

# Quartus files
*_generation_script*
*_inst.vhd
*.bak
*.cmp
*.done
*.eqn
*.html
*.jdi
*.jpg
*.mif
*.pin
*.pof
*.ptf.*
*.qar
*.qarlog
*.qws
*.rpt
*.smsg
*.sof
*.sopc_builder
*.summary
*.tcl
*.txt
*~
*example*

*/out/*
